h1 {
	border: 1px solid #d2cece;
	color: #191970;	
	font-size: 40px;
	font-weight: bold;
}

.border {
	border-radius: 10px;
	padding: 20px;
	margin: 20px;
}

.contacts {
	color: #000080;
	margin-left: 5px;
	vertical-align: super;
}

.flex {
	border: 1px solid #d2cece;
	display: flex;
	flex-direction: row;
}

.icons {	
	height: 25px;
	width: 25px;
}


.information-about-me {
	background-color: #87CEFA;
	border: 1px solid #d2cece;
	border-radius: 10px;
	color: #00008B;
	font-size: 17px;
	text-align: center;
	width: 15%;
}

.grades{
	font-size: 20px;
}

.languages {
	border: 1px solid #d2cece;
	color: #000080;
	font-size: 20px;
}

.main-container {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	width: 1200px;
}

.my-photo {
	border-radius: 100px;
}	

.my-photo:hover{
	border-radius: 20px;
}

.phone {
	border: 1px solid #d2cece;
}
	
.programming-language {
	color: #000080;
	font-weight: bold;
	text-align: left;
}

.skills {
	border: 1px solid #d2cece;
	width: 95%;
}

.skills-level {
	background-color: #B0E0E6;
	color: #ffffff;
	font-size: 12px;
	text-align: center;
	width: 10%;
}

.skills-level-ok {
	background-color: #191970;
	width: 60%;
}

.school {
	background-color: #87CEFA;
	border: 1px solid #d2cece;
	border-radius: 10px;
	color: #000080;
	font-size: 15px;
	width: 50%;
}	
	
.stars {
	width: 70px;
}

.what-i-learned {
	background-color: #B0E0E6;
	border: 1px solid #d2cece;
	border-radius: 10px;
	color: #00008B;
	font-size: 31px;
	text-align: center; 
	width: 70%;
}